body {
  padding-top: 50px;
   background: url('../images/fondo.jpg');
   background-repeat: no-repeat;
   background-size: cover;
  font-size: 20px;
  color: white;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
  background: none;
}

/*Estilos para la página de inicio*/
.home{
  position: relative;
}

.home .notice-ball{
  border-radius: 100px;
  height: 200px;
  width: 200px;
  background: rgba(0,0,0,0.4);
  text-align: center;
  padding: 15px;
  font-size: 20px;
  color: white;
  text-align: center;
  font-weight: bold;
  position: absolute;
}

.home .notice-ball .text{
  display: inline-block;
  vertical-align: middle;
}

.home .notice-ball.one{
  top: 100px;
  right: 200px;
}

.home .logo{
  color: white;
  background: url('../images/Alien_vec_letras_blanco.png');
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
  background-size: contain;
}

/*Menú de navegación personalizado para Tecnoland*/

.navbar.navbar-tecnoland {
  background-color: transparent;
  background: rgba(0,0,0,0.5);
  border-color: transparent;

}

.navbar.navbar-tecnoland ul{
  justify-content: center;
  /*display: flex;*/
  width: auto;
  font-size: 15px;
}

.displayFlex{
  display: flex;
}

.navbar.navbar-tecnoland .item{
  flex-grow: 1;
}

.navbar .navbar-brand-tecnoland{
  float: none;
  height: 50px;
  padding: 15px 0px;
  font-size: 18px;
  line-height: 20px;
}

/*Submenú personalizado para Tecnoland*/
.dropdown-tecnoland{
  background-color: rgba(0,0,0,0.5);
  width: 100%;
}


.dropdown-tecnoland li{
  background-color: transparent;
}

.dropdown-tecnoland>li>a{
  color: white;
}

.dropdown-tecnoland>li>a:hover{
  background-color: orange;
  color: white;
}

/*Banner*/
.banner_evento{
  float: left;
  background: url('../images/banner_octubre.png');
  background-repeat: no-repeat;
  background-position: left;
  height: auto;
  background-size: contain;
}

/*Redes sociales*/

.texto .twitter a{
  color: white;
  text-decoration: none;
  font-size: 25px;
  text-align: left;
}

#twitterHasTag {
  float: left;
  padding-left: 1%;
}

#socialLinks{
  float: right;
}

#socialLinks a{
  color: white;
}

/*Cabecera secciones web*/
.cabeceraSeccion{
  background-color: blue;
  color: white;
  font-size: 18px;
  text-align: center;
}

/*Fieldsets*/
fieldset.cabeceraSeccion-borde{
  border: 1px grove #ddd !important;
  padding: 0 1.4em 1.4em 1.4em !important;
  margin: 0 0 1.5em 0 !important;
  -webkit-box-shadow: 0px 0px 0px 0px #FFF;
  box-shadow: 0px 0px 0px 0px #FFF;
}

legend.cabeceraSeccion-borde{
  font-size: 1.2em !important;
  font-weight: bold !important;
  text-align: left !important;
}

/*Estilos varios para el detalle de la página*/

.contenedor {
  background-color: transparent;
  background-color: rgba(0,0,0,0.5);
  border-color: transparent;
}

.contenedor span{
  background-color: transparent;
  background-color: rgba(0,0,0,0.5);
  border-color: transparent;
}

.contenedor div{
  background-color: transparent;
  background-color: rgba(0,0,0,0.5);
  border-color: transparent;
}
.ancho-total{
  width: 100%;
}

.descripcionTorneo{
  float: none;
  text-align: left;
  font-size: 18px;
}

.premiosTorneo{
  float: right;
  text-align: right;
  font-size: 18px;
}