<!-- Imagen del torneo, si no hay imágen se pone un texto feo-->
<img id="imagenTorneo" class="imagenTorneo" src="/images/league-of-legends-logo.png">
<div class="contenedor">
	<span class="descripcionTorneo" id="descripcionTorneo">
		<p>League of Legends es un videojuego lleno de emoción donde el trabajo en equipo es fundamental</p>
		<p>Es un juego lleno de acción y que se ha convertido en el eSport más importante ahora mismo en el mundo</p>
		<p>donde millones de jugadores de todo el planeta luchan para hacerse un hueco en este nuevo deporte</p>
		<p>En Tecnoland no podíamos no organizar un torneo así. </p>
	</span>
	<span class="premiosTorneo" id="premiosTorneo">
		<h3  class="cabeceraSeccion">Premios:</h3>
		<ol>
			<li>500€ + Riot Points</li>
			<li>Riot Points</li>
		</ol>
	</span>
	<span class="descripcionTorneo" id="reglasTorneo">
		<h3>Reglas</h3>
		<ol>
			<li><p>Primera regla</p></li>
			<li>Segunda regla</li>
			<li>Tercera regla</li>
		</ol>
	</span>
	
</div>